*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    color: rgb(169, 172, 178);
    font-family: sans-serif;
}
.box{
    background-image: url(sukuna.webp);
    background-size: cover;
    background-position: center;
     background-color: rgb(42, 40, 40);
    background-blend-mode: overlay;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
width: 350px;
height: 200px;
padding: 30px;
backdrop-filter: blur(5px); 
background: rgba(255, 255, 279, 0.1);
border: 2px solid rgb(46, 45, 45);
box-shadow: 5px 5px  15px rgb(50, 50, 50);
border-radius: 25px;
}
.A{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.logo{
    width: 41px;
}
.mc{
    position: relative;
    right: 48px;
}
.icon{
    width: 45px;
    height: 35px;
}
.num{
    font-size: 12px;
    margin-bottom:7px ;
}
.B{
margin: 0;
margin-top: 25px;
font-size: 17px;
}
.pos2{
    position: relative;
    bottom: 8px;
}
.pos1{
    position: relative;
    top: 2px;
}

.C{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}